<!doctype html>
<html lang="en">
  <head>
  	<title>LATEST INFO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../static/website-menu-12/css/style.css">

	</head>
	<style>
		.navbar-brand{
			margin-top:10px;
			font-size:40px;
			font-family:cursive;
			color:white;
			}
		.nav-link{
			font-size: 100px;
		}		
		body{
			background-image:url('../static/2964856884_3fa0e8bc87_o-google-news-word-cloud.png');
		}
	</style>
	<body>
		<div class="container">
			<div class="row-justify-content-between">
				<div class="col">
					<a class="navbar-brand" href="/">LATEST INFO <span>Article,Books,Movies</span></a>
				</div>
			</div>
		</div>
		{% block nav %}
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
				<form action="#" class="searchform order-lg-last">

        </form>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
	        	<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="/Articles/">Articles</a>
                <a class="dropdown-item" href="#">Books</a>
                <a class="dropdown-item" href="#">Movie</a>
              </div>
            </li>
	        	<li class="nav-item"><a href="#" class="nav-link">Catalog</a></li>
	        	<li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
	  {% endblock %}
    <!-- END nav -->



	<script src="../static/website-menu-12/js/jquery.min.js"></script>
  <script src="../static/website-menu-12/js/popper.js"></script>
  <script src="../static/website-menu-12/js/bootstrap.min.js"></script>
  <script src="../static/website-menu-12/js/main.js"></script>

	</body>
</html>

